
<section class="container">
    <div class="row">
    <% @categories.each do |category| %>
       <div class="col-xs-12 col-md-3">
          <div class="thumbnail">
            <%= link_to image_tag(category.image), category_shoes_path(category)  %>
            <div class="background-caption">
              <p><%= category.name %></p>
            </div>
          </div>
       </div>
    <% end %>
   </div>
</section>
