@import "bootstrap-sprockets";
@import "bootstrap";


@import "shoes.scss";
@import "header.scss";
@import "footer.scss";
@import "welcome.scss";
@import "show.scss";


* {
box-sizing: border-box;

}

#container {
  width: 100%;
  height: 100%;
}

.main {
  margin: 50px;
}

.flex {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
