@import "bootstrap-sprockets";
@import "bootstrap";

@import "login.scss";
@import "shoes.scss";
@import "header.scss";
@import "footer.scss";
@import "welcome.scss";
@import "show.scss";
@import "cart.scss";
@import "notice.scss";

* {
box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100%;
}

.main {
  margin: 50px;
  color: #222;
}

.flex {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

a {
  color: #222;
}
