// * {
// box-sizing: border-box;
// }

#footer {
  bottom: 0;
  width: 100%;
  height: 220px;
  padding: 25px;
  background-color: #333;
  color: #666;
  letter-spacing: 2px;
}

h5 {
  letter-spacing: 3px;
  border: solid 2px #666;
  padding: 15px;
  vertical-align: middle;
  text-align: center;
}
.row span {
  color: #B23835;
}

.footer,
.row {
  display: flex;
  justify-content: center;
}

.btn-xs {
  color: #666;
}
