.nav {
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: 3px;
}

.btn-home {
  font-size: 20px;
}

.btn:hover {
  border-radius: 0px;
  background-image: none !important;
  background-color: #666 !important;
}

.dropdown-toggle:hover {
  border-radius: 0px;
  background-image: none !important;
  background-color: #666 !important;
}
