.nav {
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: 3px;
}

.navbar {
  border-radius: 0px;
}

.navbar-right {
  margin-right: 0;
}

.btn-home {
  font-size: 20px;
}

.btn:hover {
  border-radius: 0px;
  background-image: none !important;
  background-color: #666 !important;
}

.search-btn {
  float: right;
  margin-top: -20px;
  margin-right: 15px;
}

.dropdown-toggle:hover {
  border-radius: 0px;
  background-image: none !important;
  background-color: #666 !important;
}
