.notice-msg,
.alert-msg {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #333;
  width: 33%;
  background: #999;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 2px;
}
