
.img-index {
  max-height: 242px;
}

.wrapper {
  // background-image: url(./top_image1.jpg);
  background-color: #D1CAC8;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: auto;
  height: 300px;
}

.sale-txt {
  font-style: italic;
  padding-top: 20px;
  text-align: center;
  font-size: 100px;
  color: #930000;
}

.sub-sale-txt {
  text-align: center;
  font-size: 50px;
  color: #930000;
}
