
.img-index {
  display: flex;
  align-items: center;
  max-height: 242px;
}

.shoe-thumb {

  min-height: 550px;
}

.wrapper {
  // background-image: url(./top_image1.jpg);
  background-color: rgba(207, 200, 180, 0.8);
  // background-repeat: no-repeat;
  // background-size: 100%;
  // background-position: center;
  // width: auto;
  height: 300px;
}

.sale-txt {
  font-family: 'EB Garamond', serif;
  padding-top: 20px;
  text-align: center;
  font-size: 100px;
  color: #930000;
}

.sub-sale-txt {
  text-align: center;
  font-size: 50px;
  color: #930000;
}

p {
  text-align: justify;
}
