.template{
  border: 1px solid;
  border-color: #D8D1D1;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
  padding: 10px;
}
.title-background{
background-color: black;
color: white;
padding: 1px 3px 31px 27px;
border-radius: 0px 0px 20px 20px;
}
