.template{
  border: 1px solid;
  border-color: #D8D1D1;
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
}

// IMAGE
.img-show{
max-width: 400px;
}

// BLACK BACKGROUND
.title-background{
background-color: black;
color: white;
padding: 1px 3px 31px 27px;
border-radius: 0px 0px 20px 20px;
}

// TEXT in BLACK
.big-title{
  font-family: 'Francois One', sans-serif;
}

// TEXT
.text-background{
  margin-left: 50px;
  margin-bottom: 30px;
}

.text-title{
  font-family: 'Francois One', sans-serif;
  font-size: 30px;
  border-bottom: 1px solid;
  padding-bottom: 12px;
  margin-right: 400px;
}

.text-text{
  font-size: 20px;
  font-family: Arial;
  margin: 0px 0px 13px;
}

.text-block{
  margin-top: 25px;
}
// BUTTON

.button-card{
  margin-top: 56px;
}
