// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background-caption {
  background-color: black;
  color: white;
  padding: 7px 3px 28px 18px;
  vertical-align: top;
  font-family: 'Francois One', sans-serif;
  font-size: 30px;
}
