<%= form_for Review.new do |f| %>
    <div class="input-group col-xs-12">
      <div class="col-xs-8"><%= f.text_area :message, class: "form-control", rows:"4", placeholder:"Write your Review here"%></div>
      <div class="col-xs-4"><%= f.submit "Submit", class: "btn" %></div>
    </div>
<% end %>
