<div class="col-xs-8">
   <p>
      <h4><%= review.message %></h4>
      <em>
        <%= review.user.email %>
        <%= link_to "See other reviews by this user", user_reviews_path( review.user ) %>
      </em>
   </p>
</div>
