<h1><%= "Reviews by " + @user.email %></h1>

<br>

<% @reviews.each do |review| %>
    <div>
      <h2><%= review.shoe.name%></h2>
      <div><%= image_tag(review.shoe.image, class:"img-responsive") %></div>
       <h4><%= review.message %></h4>
    </div>
<% end %>
