<h1><%= "Reviews by " + @user.email %></h1>

<br>

<% @reviews.each do |review| %>
    <div class="col-sm-12 col-md-4">
      <h2><%= review.shoe.name%></h2>
      <div class="thumbnail"><%= image_tag(review.shoe.image) %></div>
       <h4><%= review.message %></h4>
    </div>
<% end %>
