
<div class="search-btn">
  <%= form_tag '/shoes', :method => 'get', id: "search-form", class: "navbar-form navbar-left", role:"search" do %>
  <div class="form-group">
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "Search name", class: "form-control" %>
      <%= submit_tag "Search", :name => nil, class:"btn btn-default" %>
    </p>
    <% end %>
  </div>
</div>
<br/>
<h1>Welcome to our Shoe Store!</h1>
<% @shoes.each do |shoe| %>
    <p><%= link_to shoe.name, shoe %></p>
<% end %>
