<div class="container">
  <div class="wrapper">
    <div class="sale-txt">50% SALE</div>
    <div class="sub-sale-txt">on woman shoes</div>
  </div>

<br/>

  <div class="row">
    <% @shoes.each do |shoe| %>
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag(shoe.image, class: "img-index"), shoe %>
            <div class="caption">
              <div class="text-title"><%= link_to shoe.name, shoe %></div>
              <p>Price:<%= shoe.price %> euros</p>
              <p><%= shoe.description %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
