<div id="footer">
  <div class="container">
    <ul class="nav navbar-nav">
        <li><%= link_to "Contact", root_path, class: "btn btn-xs" %> </li>
        <li><%= link_to "Our Story", root_path, class: "btn btn-xs" %></li>
        <li><%= link_to "Terms & Conditions", root_path, class: "btn btn-xs" %></li>
        <li><%= link_to "Brands", root_path, class: "btn btn-xs" %></li>
    </ul>
  </div>
  <div class="row">
    <h5>Built with little knowledge, lots of enthusiasm, and <span class="glyphicon glyphicon-heart-empty"</span><span class="glyphicon glyphicon-heart-empty"</span><span class="glyphicon glyphicon-heart-empty"</span>!</h5>
  </div>
</div>
